################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Development Tools/Connection String Builder/bin
/.vs/theDiary Framework/v15/Server/sqlite3/db.lock
